
.main-menu {
    height: 60px;
    flex-basis: 50%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.main-menu a {
    text-decoration: none;
}